[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textblob = "*"
nrclex = {file = ".", editable = true}

[dev-packages]
tox = "*"
pytest = "*"
flake8 = "*"
mypy = "*"
pdoc = "*"
pytest-cov = "*"
pytest-html = "*"

[requires]
python_version = "3.11"
